
#table_finiquito {
    margin: 0 auto;
    /*border:dashed;*/
}

    #table_finiquito td {
        padding-top: 15px;
        /*border:dashed;*/
    }

.divs_finiquitos {
    width:49%;
    float:left;
    display:inline-flex;
    /*border: dashed;*/
}

#grid_finiquitos_sinProcesar {
    margin: 0 auto;
    display: inline-block;
}