#contenedor_empleados_ver {
    width: 98%;
    /*margin: 0% auto;*/
    text-align: center;
    /*border:outset;*/
    /*display: table;*/
    align-content:center;
    margin: auto
    /*display:block;
    overflow:hidden;*/
}

#tabla_principal {
    width: 95%;
    text-align: center;
    align-content:center;
    align-items:center;
}

    #tabla_principal td {
        /*border:dashed;*/
    }

.marco_foto {
    width: 230px;
    border: outset;
}


.ver_titulo {
    font-family: Calibri Light;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4%;
    display: block;
    text-align: center;


}

.ver_subtitulo {
    /*text-align: right;*/
    font-family: Calibri Light;
    font-size: 15px;
    font-weight: bold;
    /*padding-right:20px;*/
    margin-right:4%;
    margin-bottom: 4%;
    display: block;
    width:100%;
}



/******************************** Tabla editar datos laborales empleados ********************************/
#tabla_ver {
    margin: 0 auto;
    width: 80%;
    font-family: Calibri Light;
    font-size: 12px;
    /*margin: 0% auto;
    margin-left: 3%;
    float: left;*/
    /*display: inline-block;*/
    /*border:dashed;*/
}



/******************************** Tabla editar datos principales empleados ********************************/
#tabla_ver_principales {
    margin:0 auto;
    width:90%;
    font-family: Calibri Light;
    font-size: 12px;
    /*margin: 0% auto;
    margin-left: 3%;
    float: left;*/
    /*display: inline-block;*/
    /*border:dashed;*/
}

/******************************** Tabla editar datos personales empleados ********************************/
#tabla_ver_personales {
    margin: 0 auto;
    width: 80%;
    font-family: Calibri Light;
    font-size: 12px;
    /*margin:0% auto;
    margin-left: 3%;
    float: left;*/
    /*display: inline-block;*/
    /*border:dashed;*/
}

/******************************** Tabla editar datos secundarios empleados ********************************/
#tabla_ver_secundarios {
    margin:0 auto;
    width:80%;
    font-family: Calibri Light;
    font-size: 12px;
    /*margin: 0% auto;
    margin-left: 3%;
    float:left;*/
    /*display: inline-block;*/
    /*border:dashed;*/
}

/******************************** Tabla general ********************************/
    #tabla_ver td,
    #tabla_ver_principales td,
    #tabla_ver_personales td,
    #tabla_ver_secundarios td,
    #tabla_ver_foto td,
    #tabla_ver_baja
    {
        /*padding-bottom: 0%;*/
        text-align: left;
    }

/******************************** Tabla editar datos secundarios empleados ********************************/
#tabla_ver_foto {
    font-family: Calibri Light;
    font-size: 12px;
    /*margin: 0% auto;
    margin-left: 0%;
    margin-top:3%;
    float: inherit;*/
    display: inline-block;
    /*border:dashed;*/
}

#tabla_ver_baja {
    font-family: Calibri Light;
    font-size: 12px;
    /*margin:0% auto;
    margin-left: 3%;
    float: left;*/
    display: inline-block;
    /*border:dashed;*/
}


#popUp_equipo {
    /*position: absolute;*/
    width: 820px;
    height: 200px;
    border-radius: 19px;
    z-index: 9005;
    background-color: white;
    /*margin-top: 0%;
    margin-left: 0%;*/
    outline: none;
    box-shadow: 0px 0px 0px 4px rgb(202,47,33), 0px 0px 12px 10px #484848;
    opacity: 1;
    /*background:url(../../images/logo.png) no-repeat;*/
}