.titulo_baja {
    font-family:Calibri Light;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-top:4%;
    display:block;
}
 
#drop_numBaja {
    float: left;
    text-align:center;
    outline:thin;
    border: 2px solid #cfcfcf;
    transition: all .35s ease-in-out;
    /*text-indent:5px;*/
}

    #drop_numBaja:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }

.lb_datoBaja {
    font-family:Calibri Light;
    color:rgb(202,47,33);
    font-size:15px;
    font-weight:bold;
    float:left;
}

#cb_causa {
    margin-top:2%;
    text-align: left;
    outline: none;
    transition: all .35s ease-in-out;
}

    #cb_causa label {
        cursor: pointer;
    }

    #cb_causa input[type=checkbox] {
        cursor: pointer;
        outline: none;
        border: 2px solid #cfcfcf;
        transition: all .35s ease-in-out;
    }

        #cb_causa input[type=checkbox]:checked {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }

#tb_descBaja {
    width: 220px;
    height: 100px;
    font-size: 15px;
    resize: none;
    outline: thin;
    padding-left: 5px;
    float: left;
    border: 2px solid #cfcfcf;
    transition: all .35s ease-in-out;
}

    #tb_descBaja:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }

#tb_egreso {
    float:left;
    outline:thin;
    border: 2px solid #cfcfcf;
    transition: all .35s ease-in-out;
}

    #tb_egreso:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }

#baja_mensaje {
    font-size:17px;
    font-family:Calibri Light;
    font-weight:bold;
    margin-top: 20%;
    display: block;
}

#baja_continuar {
    background-color: rgb(202,47,33);
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri Light;
    border-radius: 10px;
    padding: 2%;
    margin-top:4%;
    border-color: #cfcfcf;
    outline: none;
    transition: 0.28s ease-in-out;
}

    #baja_continuar:hover {
        cursor: pointer;
        background-color: white;
        color: rgb(202,47,33);
    }

/******************************** table_Baja ********************************/
#table_Baja {
    font-family: Calibri Light;
    font-size: 17px;
    margin: 1% auto;
    margin-left: 20%;
    width: 70%;
    /*border:dashed;*/
}

    #table_Baja td {
        padding-bottom:2%;
    }
/******************************** End ********************************/