#contenedor_empleados_editar {
    width: 100%;
    margin: 0% auto;
    text-align: center;
} 

#editar_titulo {
    font-size:17px;
    font-family:Calibri Light;
    font-weight:bold;
    display:block;
}

.editar_subTitulo_laboral {
    font-family: Calibri Light;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    display:block;
    float:none;
}

.editar_subTitulo_personal {
    font-family: Calibri Light;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    display:block;
    float:none;
    margin-right:18%;
}

.editar_subTitulo_principales {
    font-family: Calibri Light;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top:2%;
    margin-bottom: 2%;
    display:block;
    margin-right:20%;
}

.editar_subTitulo_secundarios {
    font-family: Calibri Light;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    display: block;
    float: none;
    margin-right: 16%;
}

.editar_subTitulo_prestaciones {
    font-family: Calibri Light;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    display: block;
    float: none;
    margin-right: 16%;
}

#lb_mensaje {
    color:red;
    font-family: Calibri Light;
    font-size: 18px;
    font-weight: bold;
    position:absolute;
    margin:0% auto;
    bottom:11%;
    left:25%;
}

#titulo_confirmacion {
    font-family: Calibri Light;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top:10%;
    margin-bottom:5%;
}

#btn_confirmacion {
    font-family:Calibri Light;
    font-size:18px;
    font-weight:bold;
    background-color:darkgreen;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left:2%;
    padding-right:2%;
    border-radius:10px;
    color:white;
    outline:none;
    transition:0.28s ease-in-out;
    cursor:pointer;
}

    #btn_confirmacion:hover {
        background-color: rgb(202,47,33);
    }

/******************************** Tabla editar datos laborales empleados ********************************/
#tabla_editar {
    font-family: Calibri Light;
    font-size: 15px;
    width: 100%;
}

/******************************** Tabla editar datos principales empleados ********************************/
#tabla_editar_principales {
    font-family: Calibri Light;
    font-size: 15px;
    float: left;
    width: 100%;
}

/******************************** Tabla editar datos personales empleados ********************************/
#tabla_editar_personales {
    font-family: Calibri Light;
    font-size: 15px;
    float: left;
    width: 100%;
}

/******************************** Tabla editar datos secundarios empleados ********************************/
#tabla_editar_secundarios {
    font-family: Calibri Light;
    font-size: 15px;
    float: left;
    width: 100%;
}

/******************************** Tabla editar prestaciones empleados ********************************/
#tabla_editar_prestaciones {
    font-family: Calibri Light;
    font-size: 15px;
    margin-top: 2%;
    margin-left: 2%;
    /*width: 90%;*/
}

/******************************** Tabla editar baja ********************************/
.tabla_editar_baja {
    font-family: Calibri Light;
    font-size: 15px;
    /*width: 100%;*/
    margin-top: 2%;
    margin-left: 2%;

}

/******************************** Tabla editar baja ********************************/
.celda_final {
    /*width: 100%;*/
    text-align: center;
}

/******************************** Tabla general ********************************/
    #tabla_editar td,
    #tabla_editar_principales td,
    #tabla_editar_personales td,
    #tabla_editar_secundarios td,
    #tabla_editar_prestaciones td{
        padding-bottom:2%;
    }

        #tabla_editar td span {
            font-size: 16px;
            text-align:center;
        }

        #tabla_editar_personales td span,
        #tabla_editar_secundarios td span {
            font-size: 16px;
            text-align: left;
            float: right;
        }

        #tabla_editar_principales td input[type=text], #tabla_editar_principales td input[type=number], #tabla_editar_principales td input[type=date],
        #tabla_editar_personales td input[type=text], #tabla_editar_personales td input[type=number], #tabla_editar_personales td input[type=date],
        #tabla_editar_secundarios td input[type=text], #tabla_editar_secundarios td input[type=number], #tabla_editar_secundarios td input[type=date],
        #tabla_editar_prestaciones td input[type=text], #tabla_editar_prestaciones td input[type=number], #tabla_editar_prestaciones td input[type=date] {
            font-size: 13px;
            width: 130px;
            margin-right: 10px;
            margin-left: 10px;
            padding-left: 2px;
            transition: all .35s ease-in-out;
            outline: thin;
            border: 2px solid #cfcfcf;
        }

            #tabla_editar_principales td input[type=text]:focus, #tabla_editar_principales td input[type=number]:focus, #tabla_editar_principales td input[type=date]:focus,
            #tabla_editar_personales td input[type=text]:focus, #tabla_editar_personales td input[type=number]:focus, #tabla_editar_personales td input[type=date]:focus,
            #tabla_editar_secundarios td input[type=text]:focus, #tabla_editar_secundarios td input[type=number]:focus, #tabla_editar_secundarios td input[type=date]:focus,
            #tabla_editar_prestaciones td input[type=text]:focus, #tabla_editar_prestaciones td input[type=number]:focus, #tabla_editar_prestaciones td input[type=date]:focus {
                box-shadow: 0 0 5px rgb(202,47,33);
                border: 2px solid rgb(202,47,33);
            }

        #tabla_editar td select,
        #tabla_editar_principales td select,
        #tabla_editar_personales td select,
        #tabla_editar_secundarios td select,
        #tabla_editar_prestaciones td select{
            font-size: 13px;
            width: 129px;
            margin:0% auto;
            padding-left: 5px;
            transition: all .35s ease-in-out;
            outline: thin;
            border: 2px solid #cfcfcf;
        }

            #tabla_editar td select:focus,
            #tabla_editar_principales td select:focus,
            #tabla_editar_personales td select:focus,
            #tabla_editar_secundarios td select:focus,
            #tabla_editar_prestaciones td select:focus {
                box-shadow: 0 0 5px rgb(202,47,33);
                border: 2px solid rgb(202,47,33);
            }

/******************************** Tabla editar datos - Guardar Cancelar ********************************/
.btn_cancelar_guardar {
    background-color: darkgreen;
    color: white;
    font-size: 19px;
    font-weight: bold;
    font-family: Calibri Light;
    border-radius: 10px;
    padding:8%;
    outline: none;
    transition: 0.28s ease-in-out;
    cursor:pointer;
}

    .btn_cancelar_guardar:hover {
        background-color: rgb(202,47,33);
    }

#tabla_editar_guardarCancelar {
    text-align:center;
    width: 20%;
    position:absolute;
    bottom:15%;
    left:40%;
}

.btn_cerrarPopUp_cancelarGuardar {
    background-color: darkgreen;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: Calibri Light;
    border-radius: 10px;
    width:80px;
    margin-top:8%;
    padding-top:2%;
    padding-bottom:2%;
    margin-right:5%;
    outline: none;
    transition: 0.28s ease-in-out;
    cursor:pointer;
}

    .btn_cerrarPopUp_cancelarGuardar:hover {
        background-color: rgb(202,47,33);
    }

/******************************** PopUp CANCELAR ********************************/
#lb_cerrarPopUp_cancelar {
    font-family: Calibri Light;
    font-size: 17px;
    font-weight: bold;
    margin-top: 8%;
    display: block;
}

#popUp_editar_cancelar {
    position:absolute;
    width:300px;
    height:150px;
    border-radius:19px;
    z-index:9002;
    background-color:white;
    margin-top:-7%;
    margin-left:4%;
    outline:none;
    box-shadow:0px 0px 0px 4px rgb(202,47,33), 0px 0px 12px 10px #484848;
    opacity:1;
    transition: 2s all ease;
    /*background:url(../../images/logo.png) no-repeat;*/
}

/******************************** PopUp GUARDAR ********************************/
#lb_cerrarPopUp_guardar {
    font-family:Calibri Light;
    font-size:17px;
    font-weight:bold;
    margin-top:8%;
    display:block;
}

#popUp_editar_guardar {
    position:absolute;
    width:450px;
    height:250px;
    border-radius:19px;
    z-index:9002;
    background-color:white;
    margin-top:-7%;
    margin-left:4%;
    outline:none;
    box-shadow:0px 0px 0px 4px rgb(202,47,33), 0px 0px 12px 10px #484848;
    opacity:1;
    transition: 2s all ease;
    /*background:url(../../images/logo.png) no-repeat;*/
}

/******************************** PopUp REACTIVAR ********************************/

#lb_cerrarPopUp_reactivar {
    font-family: Calibri Light;
    font-size: 17px;
    font-weight: bold;
    margin-top: 8%;
    display: block;
}


#popUp_editar_reactivar {
    position: absolute;
    width: 400px;
    height: 150px;
    border-radius: 19px;
    z-index: 9005;
    background-color: white;
    margin-top: -5%;
    margin-left: 2%;
    outline: none;
    box-shadow: 0px 0px 0px 4px rgb(202,47,33), 0px 0px 12px 10px #484848;
    opacity: 1;
    transition: 2s all ease;
    /*background:url(../../images/logo.png) no-repeat;*/
}


