/************************************* Tablas Registrar *************************************/
.tabla_vacaciones {
    margin: 2% auto;
    margin-bottom: -15px;
    /*border: dashed;*/
}

    .tabla_vacaciones td {
        padding-bottom: 1%;
        /*border: dashed;*/
    }

    .tabla_vacaciones span {
        font-size: 16px;
        float: left;
    }

    .tabla_vacaciones td input[type=text] {
        font-size: 15px;
        width: 140px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 5px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
    }

        .tabla_vacaciones td input[type=text]:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
            /*border: 2px solid rgba(81, 203, 238, 1);*/
        }

    .tabla_vacaciones td input[type=date] {
        font-size: 15px;
        width: 140px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 5px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
    }

        .tabla_vacaciones td input[type=date]:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }

    .tabla_vacaciones td input[type=week] {
        font-size: 15px;
        width: 170px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 5px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
    }

        .tabla_vacaciones td input[type=week]:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }

    .tabla_vacaciones td input[type=number] {
        font-size: 15px;
        width: 140px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 5px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
    }

        .tabla_vacaciones td input[type=number]:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }

    .tabla_vacaciones td select {
        font-size: 12px;
        width: 140px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
    }

        .tabla_vacaciones td select:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }

.tituloTablaVacaciones {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

#botones_vacaciones
{
    margin-top: 2%;
}

/************************************* FIN *************************************/
