body {
}


.crear_ticket_titulo {
    font-size: 18px;
    font-weight: bold;
}


.btn_guardarCancelar {
    font-family: Calibri Light;
    font-size: 15px;
    font-weight: bold;
    background-color: darkgreen;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    color: white;
    outline: none;
    transition: 0.28s ease-in-out;
    cursor: pointer;
}

    .btn_guardarCancelar:hover {
        background-color: rgb(202,47,33);
    }

#popUp_guardar_ticket {
    position: absolute;
    width: 450px;
    height: 150px;
    border-radius: 19px;
    z-index: 9002;
    background-color: white;
    margin-top: -7%;
    margin-left: 0%;
    outline: none;
    box-shadow: 0px 0px 0px 4px rgb(202,47,33), 0px 0px 12px 10px #484848;
    opacity: 1;
    transition: 2s all ease;

    margin: 0% auto;
    margin-left: 0%;
    text-align: center;
    overflow: hidden;
}

#popUp_guardar_ticket_exito {
    position: absolute;
    width: 550px;
    /*height: 280px;*/
    border-radius: 19px;
    z-index: 9002;
    background-color: white;
    /*margin-top: -7%;
    margin-left: 0%;*/
    outline: none;
    box-shadow: 0px 0px 0px 4px rgb(202,47,33), 0px 0px 12px 10px #484848;
    opacity: 1;
    transition: 2s all ease;
    margin: 0% auto;
    margin-left: 0%;
    text-align: center;
    overflow: hidden;
}

.required_field_crear_ticket{
    color: red;
    font-size:20px;
}

.btn_cerrarPopUp_cancelarGuardar {
    background-color: darkgreen;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: Calibri Light;
    border-radius: 10px;
    width: 80px;
    /*margin-top: 8%;*/
    padding-top: 2%;
    padding-bottom: 2%;
    /*margin-right: 5%;*/
    outline: none;
    transition: 0.28s ease-in-out;
    cursor: pointer;
}

    .btn_cerrarPopUp_cancelarGuardar:hover {
        background-color: rgb(202,47,33);
    }

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}