#menuDiv {
    width:70%;
    margin:2% auto;
    text-align:center;
    overflow:hidden;
    /*border:dashed;*/
}

.menuBtn {
    width:12em;
    height:12em;
    clear:left;
    overflow:hidden;
    outline:none;
    /*border:dashed;*/
}

    .menuBtn:hover {
        height:11em;
        transition:0.5s;
    }

    .menuBtn:not(:hover) {
        width:12em;
        transition:0.2s;
    }

.menuBtn_disabled {
    width: 12em;
    height: 12em;
    clear: left;
    overflow: hidden;
    outline: none;
    cursor: default;
}

    .menuBtn_disabled:hover {
        height: 12em;
        transition: 0.5s;
    }

    .menuBtn_disabled:not(:hover) {
        width: 12em;
        transition: 0.2s;
    }