.line-center {
    margin: 0;
    padding: 0 10px;
    background: rgb(249, 249, 249);
    display: inline-block;
}

h2 {
    text-align: center;
    position: relative;
    z-index: 2;
}

    h2:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: solid 1px gray;
        z-index: -1;
    }

.pop_up {
    border-radius: 25px;
    border: 2px solid #ff0000;
    padding: 20px;
    width: 300px;
    /*height: 150px;*/
    background-color: white;
}