

.popUp_generar_reporte {
    position: absolute;
    width: 800px;
    /*height: 350px;*/
    border-radius: 19px;
    z-index: 9002;
    background-color: white;
    margin-top: 0%;
    margin-left: -15%;
    outline: none;
    box-shadow: 0px 0px 0px 4px rgb(202,47,33), 0px 0px 12px 10px #484848;
    /*opacity: 1;
    transition: 2s all ease;*/
    text-align: center;
    /*background:url(../../images/logo.png) no-repeat;*/
}

.tb_buscar {
    font-size: 15px;
    margin-right: 10px;
    padding-left: 5px;
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
    display: inline-block;
}

    .tb_buscar:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }

.dropdown_buscar {
    font-size: 15px;
    width: 140px;
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
}

    .dropdown_buscar:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
        /*border: 2px solid rgba(81, 203, 238, 1);*/
    }