
/******************************** GRID INICIO ********************************/

.grid_bonos {
    white-space:nowrap;
    font-size: 14px;
    font-family: Calibri Light;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 2%;
    display: inline-block;
    border: solid 2px black;
    overflow: hidden;
}

    .grid_bonos td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0px;
        padding-left: 0px;
        border: none;
    }

    .grid_bonos th {
        padding-top: 4px;
        padding-bottom: 8px;
    }

.grid_bonos_header {
    font-size: 15px;
    color: white;
    height: 29px;
    background-color: #646464;
    border: none 0px transparent;
}

    .grid_bonos_header th {
        padding-right: 24px;
        padding-left: 24px;
        border:none;
    }

.grid_bonos_row {
    background-color: #fff;
    border: none 0px transparent;
}

.grid_bonos_altrow {
    background-color: #ebeaea;
    border: none 0px transparent;
}

.grid_bonos_pager {
    color: black;
    font-size: 14px;
    text-align: center;
    background-color: #646464;
}

    .grid_bonos_pager span {
        color: white;
        font-weight: bold;
        background-color: rgb(202,47,33);
        padding: 4px 4px 4px 4px;
    }

    .grid_bonos_pager a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        background-color: transparent;
        padding: 5px 5px 5px 5px;
    }

        .grid_bonos_pager a:hover {
            background-color: rgb(202,47,33);
        }

    .grid_bonos_pager td {
        padding: 2px 2px 2px 2px;
    }

.grid_bonos input[type=text] {
    text-align: center;
    width: 80px;
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
    color: #484848;
}

    .grid_bonos input[type=text]:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }

.grid_bonos select {
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
    color: #484848;
}

    .grid_bonos select:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }


.grid_bonos_footer td {
    border: none;
}

.grid_bonos_footer input[type=text] {
    text-align: center;
    width: 80px;
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
    color: #484848;
}

.grid_bonos_footer input[type=text]:focus {
    box-shadow: 0 0 5px rgb(202,47,33);
    border: 2px solid rgb(202,47,33);
}

.grid_bonos_footer select {
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
    color: #484848;
}

    .grid_bonos_footer select:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }
/******************************** GRID FIN ********************************/

.footer_bonos .btn_guardarCancelar {
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.footer_bonos {
    font-family: Calibri Light;
    text-align: center;
    font-size: 14px;
    margin: 0% auto;
    margin-bottom: 2%;
    display: inline-block;
    /*border: solid 1px black;*/
}

    .footer_bonos input[type=text] {
        text-align: center;
        width: 80px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
    }

        .footer_bonos input[type=text]:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }