
#table_tickets_requerimientos {
    width:60%;
    display:block;
}

    #table_tickets_requerimientos td th {
        padding-top: 20px;
    }

    #table_tickets_requerimientos th {
        padding-top:20px;
    }

/******************************************** Grid Tickets Editar ********************************************/
.gridtickets_editar {
    font-size: 13px;
    font-family: Calibri Light;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 0%;
    display: inline-block;
    border: solid 1px black;
}

    .gridtickets_editar td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        border:none;
    }

    .gridtickets_editar th {
        padding-top: 15px;
        padding-bottom: 15px;
    }

.gridtickets_editar_header {
    font-size: 15px;
    color: white;
    background-color: #646464;
    border: none 0px transparent;
}

    .gridtickets_editar_header th {
        border:none;
        padding-right: 20px;
        padding-left: 20px;
    }

.gridtickets_editar_row {
    background-color: #f2f2f2;
    border: none 0px transparent;
}

.grid_tickets_altrow {
    background-color: #ebeaea;
    border: none 0px transparent;
}

.gridtickets_editar_footer td {
    border: none;
}

.gridtickets_editar_footer select {
    width: 180px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
}

    .gridtickets_editar_footer select:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }

.gridtickets_editar_footer textarea {
    width: 180px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .35s ease-in-out;
    outline: thin;
    border: 2px solid #cfcfcf;
}

    .gridtickets_editar_footer textarea:focus {
        box-shadow: 0 0 5px rgb(202,47,33);
        border: 2px solid rgb(202,47,33);
    }

.gridtickets_editar_pager {
    color: black;
    font-size: 14px;
    text-align: center;
    background-color: #646464;
}

    .gridtickets_editar_pager span {
        color: white;
        font-weight: bold;
        background-color: rgb(202,47,33);
        padding: 4px 4px 4px 4px;
    }

    .gridtickets_editar_pager a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        background-color: transparent;
        padding: 5px 5px 5px 5px;
    }

        .gridtickets_editar_pager a:hover {
            background-color: rgb(202,47,33);
        }

    .gridtickets_editar_pager td {
        padding: 2px 2px 2px 2px;
    }


    /*Botones*/

.btn_guardarCancelar_editar {
    font-family: Calibri Light;
    font-size: 15px;
    font-weight: bold;
    background-color: darkgreen;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    color: white;
    outline: none;
    transition: 0.28s ease-in-out;
    cursor: pointer;
    height: 40px;
    width: 120px;
}

    .btn_guardarCancelar_editar:hover {
        background-color: rgb(202,47,33);
    }

.btn_guardarCancelar_editar_disabled {
    font-family: Calibri Light;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(129, 128, 127);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    color: white;
    outline: none;
    transition: 0.28s ease-in-out;
    cursor: pointer;
    height: 40px;
    width: 120px;
}
