
.buscarTicket_titulo {
    font-weight:bold;
    display:block;
    margin-bottom:1%;
}

/******************************************/
.table_btnBuscar {
    text-align:center;
    margin: 0% auto;
    margin-bottom: 1%;
    padding:0;
    display:block;
    /*border:dashed;*/
}

    .table_btnBuscar input[type=text] {
        text-align: left;
        width: 120px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
        padding-left:5px;
        padding-top:2px;
        padding-bottom:2px;
    }

        .table_btnBuscar input[type=text]:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }

    .table_btnBuscar input[type=date] {
        text-align: left;
        width: 120px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

        .table_btnBuscar input[type=date]:focus {
            box-shadow: 0 0 5px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }


    .table_btnBuscar #radio_buscar {
        /*text-align: left;*/
        /*width: 120px;*/
        /*margin:0 auto;*/
        transition: all .35s ease-in-out;
        outline: thin;
        /*border: 2px solid #cfcfcf;*/
        color: #484848;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        display:inline-block;
        /*border:dashed;*/
    }

        .table_btnBuscar #radio_buscar input[type=radio]:focus {
            box-shadow: 0 0 1px 1px rgb(202,47,33);
            border: 2px solid rgb(202,47,33);
        }

    .table_btnBuscar #table_buscarDatos, .table_btnBuscar #table_buscarXFecha {
        /*text-align: left;*/
        /*width: 120px;*/
        /*margin:0 auto;*/
        transition: all .35s ease-in-out;
        outline: thin;
        /*border: 2px solid #cfcfcf;*/
        color: #484848;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        display:inline-block;
        /*border:dashed;*/
    }

.bt_btnbuscar {
    width: 27px;
    height: 27px;
    display: inline-block;
    outline: none;
    padding-top: 5px;
    margin-left: 0;
    transition: 0.2s ease-in-out;
}

    .bt_btnbuscar:hover {
        width: 27px;
        height: 27px;
        /*margin:-4%;*/
    }

/*********************************************************/

.folioCerrado tr, .folioCerrado td {
    color:white;
    background-color:#2d7600;
    border:0;
}

.folioCancelado tr, .folioCancelado td {
    color:white;
    background-color:#8e0000;
    border:0;
}

/*********************************************************/

.div_tickets {
    text-align:center;
    margin-top: 2%;
    margin-bottom: 2%;
    display:block;
    /*border:dashed;*/
}

.grid_tickets #btn_ver_ticket{
    width:100px;
    padding-top:5%;
    padding-bottom:5%;
    /*border: dashed !important;*/
}

.grid_tickets {
    font-size: 12px;
    font-family: Calibri Light;
    text-align: center;
    margin: 0% auto;
    margin-bottom:2%;
    border: solid 2px black;
    width: 95%;
}

    .grid_tickets td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        border: none;
    }

    .grid_tickets th {
        padding-top: 4px;
        padding-bottom: 8px;
    }

    .grid_tickets input[type=text] {
        text-align: center;
        width: 80px;
        transition: all .35s ease-in-out;
        outline: thin;
        border: 2px solid #cfcfcf;
        color: #484848;
    }

.grid_tickets_header {
    font-size: 12px;
    color: white;
    height: 20px;
    background-color: #646464;
    border: none 0px transparent;
}
    
    .grid_tickets_header th {
        border:none;
        padding-right: 10px;
        padding-left: 10px;
    }

.grid_tickets_row {
    background-color: #fff;
    border: none 0px transparent;
}

.grid_tickets_altrow {
    background-color: #ebeaea;
    border: none 0px transparent;
}

.grid_tickets_pager {
    color: black;
    font-size: 12px;
    text-align: center;
    background-color: #646464;
}

    .grid_tickets_pager span {
        color: white;
        font-weight: bold;
        background-color: rgb(202,47,33);
        padding: 2px 4px 2px 4px;
    }

    .grid_tickets_pager a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        background-color: transparent;
        padding: 2px 4px 2px 4px;
    }

        .grid_tickets_pager a:hover {
            background-color: rgb(202,47,33);
        }

    .grid_tickets_pager td {
        padding: 1px 1px 1px 1px;
    }

.grid_tickets_footer td {
    border: none;
}